body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}
div.fix{
    position: fixed;
    margin: 0%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 0;
}
a{
    background-color: aliceblue;
    transition: 0.25s;
    color:rgb(30, 30, 30);
}
a:hover{
    transition: 0.25s;
    color: rgb(0, 0, 0);
    background-color: rgb(226, 231, 236);
}
div.right{
    margin: 0%;
    gap:15px;
    height: 100vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(226, 231, 236);
}
div.right > div{
    width: 90%;
}
div.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    width: calc(100vw - 206px);
}
div.menu{
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
div.menu > a{
    padding-left: 7%;
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    margin: 0;
    height: 23%;
    border-radius: 50px;
    background-color: rgb(226, 231, 236);
    transition: 0.25s;
}
div.menu > a:hover{
    transition: 0.25s;
    background-color: aliceblue;
}
div.you{
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
div.you > p, div.you >a{
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    width: 93%;
    margin: 0%;
    height: 13%;
    padding-left: 7%;
    background-color: rgb(226, 231, 236);
}
div.you > p{
    font-weight: bold;
}
div.you > a{
    border-radius: 50px;
    transition: 0.25s;
}
div.you > a:hover{
    transition: 0.25s;
    background-color: aliceblue;
}
div.subscribes{
    height: 38%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
div.subscribes > *{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    width: 93%;
    margin: 0%;
    padding-left: 7%;
}
div.subscribes > p{
    font-weight: bold;
}
div.subscribes > a{
    border-radius: 50px;
    background-color: rgb(226, 231, 236);
    transition: 0.25s;
}
div.subscribes > a:hover{
    transition: 0.25s;
    background-color: aliceblue;
}
div.topWraper{
    position: relative;
    padding: 0%;
    margin: 0;
    height: auto;
    width: 100%;
    padding-left: 206px;
}
div.fixedWraper{
    position: fixed;
    width: 100%;
    height: calc(100vh - 206px);
    display: block;
}
div.topBar{
    height: 54px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div.fixed{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
div.content{
    height:min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: start;
    position: fixed;
    height: calc(100vh - 54px);
    overflow: auto;
    top: 54px;
}
#search{
    height: 75%;
    width: 70%;
    font-size: large;
    outline-color: rgb(226, 231, 236);
    border-radius: 10px 0 0 10px;
}
#search:focus{
    outline: rgb(226, 231, 236);;
}
#searchButton{
    height: 75%;
    font-size: large;
    background-color: white;
    outline-color: rgb(226, 231, 236);
    border-radius: 0 10px 10px 0;
    transition: 0.25s;
}
#searchButton:hover{
    transition: 0.25s;
    background-color: rgb(226, 231, 236);
}