body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
div.fix{
    position: fixed;
    margin: 0%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
a{
    background-color: aliceblue;
    transition: 0.25s;
    color:rgb(30, 30, 30);
}
a:hover{
    transition: 0.25s;
    color: rgb(0, 0, 0);
    background-color: rgb(172, 174, 175);
}
div.right{
    gap:15px;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
div.right > div{
    width: 90%;
}
div.left{
    background-color: blueviolet;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
div.left > div{
    width: 97%;
}
div.left > a{
    width: 93%;
}
div.menu{
    background-color: blue;
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
div.menu > a{
    height: 23%;
    font-size: 13px;
    border-radius: 50px;
}
div.you{
    background-color: chartreuse;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
div.you > p, a{
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    width: 93%;
    margin: 0%;
    height: 13%;
    padding-left: 7%;
}
div.you > p{
    font-weight: bold;
    background-color: cadetblue;
}
div.you > a{
    border-radius: 50px;
}
div.subscribes{
    background-color: darkmagenta;
    height: 38%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
div.subscribes > *{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    width: 93%;
    margin: 0%;
    padding-left: 7%;
}
div.subscribes > p{
    font-weight: bold;
    background-color: cadetblue;
}
div.subscribes > a{
    border-radius: 50px;
}
div.topBar{
    background-color: darkseagreen;
    height: 5%;
}
div.topButtoms{
    background-color: chocolate;
    height: 5%;
}
div.content{
    position: absolute;
    background-color: rgb(242, 255, 0);
    height:min-content;
    width: 100% - (206px + 3%);
    margin-top: 10%;
    margin-left: 206px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: start;
}
div.content > div.video{
    width: 300px;
    height: 150px;
    position: relative;
    margin: 40px 15px;
}
div.video{
    background-color: rgb(0, 195, 255);
}